<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

<header class="header">
  <a href="/home">
    <img
      class="ImgLogo"
      src="./assets/img/iplogo.png"
      alt="Logo Ianca Placimo"
    />
  </a>
  <ul class="links">
    <li class="links__link">
      <a href="/sobreMim">Sobre mim</a>
    </li>
    <li class="links__link">
      <a href="/meusProjetos">Meus Projetos</a>
    </li>
    <li class="links__link"><a href="/contatos">Contatos</a></li>
  </ul>

  
</header>
