<div class="conteudo-sobreMim">
  <div class="div">
    <p class="p-nome"><strong>Ianca Placimo</strong></p>
    <p class="p-funcao">Desenvolvedora Front-end</p>
    <p class="sobreMim-texto">
      Sou formada em
      <strong>Análise e Desenvolvimento de Sistemas</strong> atualmente morando em
      São Paulo, SP, 
      atuei como Desenvolvedora Front-End Junior na Tecnobank, onde participei
      do desenvolvimento de sistemas, testes e codificação de projetos para
      Web.<br />
      Algumas das tecnologias que utilizei foram
      <strong>.NET MVC, CSS, HTML, JavaScript e C#</strong>. Como estagiária na
      mesma empresa, desenvolvi todas essas habilidades nas mesmas tecnologias.<br />
      Antes disso, trabalhei como Estagiária de Desenvolvimento de Software na
      Qintess.<br />
      Trabalhei em projetos utilizando linguagens como <strong>JAVA e AngularJS</strong> na Caixa Econômica
      Federal.<br />
      Além disso, tenho várias certificações em tecnologias como
      <strong> .NET, API Rest, Bootstrap, UX, Sass, Flexbox</strong>, entre
      outras, conquistadas principalmente através da Alura e Digital Innovation
      One.<br />
      Gosto muito de front-end e estou sempre em busca de melhorar estas
      habilidades e colaborar em projetos desafiadores.<br />
      Me destaco por ser pró-ativa, adaptável e apaixonada por criar
      experiências incríveis para os usuários, estou interessada em explorar
      novas oportunidades de colaboração e crescimento.
    </p>
  </div>
</div>
