<div class="conteudo-meusProjetos">
  <div class="card Primeiro" style="width: 18rem">
    <img
      class="card-img-top"
      src="./assets/img/arteflix.PNG"
      alt="Imagem de capa do card"
    />
    <div class="card-body">
      <h5 class="card-title">Recriando a interface da pagina Netflix</h5>
      <p class="card-text">
        Criação da pagina inicial da Netflix usando HTML e CSS, Bootcamp Digital
        innovation One. Com algumas modificações feitas na pagina, ela virou uma
        pagina voltada a Arte.
      </p>
      <a href="https://github.com/IancaPlacimo/Clone-Netflix-Arteflix" class="btn btn-dark">Github</a>
    </div>
  </div>

  <div class="card Primeiro" style="width: 18rem">
    <img
      class="card-img-top"
      src="./assets/img/Portifolio.PNG"
      alt="Imagem de capa do card"
    />
    <div class="card-body">
      <h5 class="card-title">Projeto pessoal portfólio</h5>
      <p class="card-text">
        Um portfólio front-end moderno e intuitivo, demonstrando habilidades em
        design e desenvolvimento web. Interface responsiva, navegação fluida e
        foco na experiência do usuário.
      </p>
      <a href="https://github.com/IancaPlacimo/portfolio" class="btn btn-dark">Github</a>
    </div>
  </div>

  <div class="card Primeiro" style="width: 18rem">
    <img
      class="card-img-top"
      src="./assets/img/MFC.PNG"
      alt="Imagem de capa do card"
    />
    <div class="card-body">
      <h5 class="card-title">Clone da pagina My Family Cinema</h5>
      <p class="card-text">
        Um clone da página My Family Cinema, reproduzindo sua interface e
        funcionalidades com fidelidade. Design limpo, organizado e responsivo,
        oferecendo uma experiência similar à original.
      </p>
      <a href="https://github.com/IancaPlacimo/MFC-CLONE" class="btn btn-dark">Github</a>
    </div>
  </div>

  <div class="card Primeiro ultimo" style="width: 18rem">
    <img
      class="card-img-top"
      src="./assets/img/Vet.PNG"
      alt="Imagem de capa do card"
    />
    <div class="card-body">
      <h5 class="card-title">Projeto Veterinaria</h5>
      <p class="card-text">
        Um projeto para uma clínica veterinária, oferecendo serviços de
        agendamento, informações sobre animais de estimação, e dicas de
        cuidados. Interface amigável, recursos de busca intuitivos e foco na
        saúde e bem-estar dos animais.
      </p>
      <a href="https://github.com/IancaPlacimo/Projeto-Veterinaria" class="btn btn-dark">Github</a>
    </div>
  </div>
</div>
