.conteudo-meusProjetos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    background-color: black;
    width: 100%;
    min-height: 80%;
    flex-wrap: wrap;
}

.card{
    height: 25rem;
    margin-bottom: 3rem;
    max-width: 16rem;
}
.img{
    border:15px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Primeiro{
   // margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 572px) {
    .Primeiro{
         margin-top: 2rem;
    }
}

// p{
//     max-width: 214px;
//     max-height: 168px;
// }


// @media only screen and (max-width: 800px) {
//     .conteudo-meusProjetos{
//         flex-direction: column;
//     }

//     .card{
//         margin-top: 3rem;
//         box-sizing: border-box;
//     }

//     .ultimo{
//         margin-bottom: 3rem;
//     }
// }