.conteudo-contatos{
    background-color: black;
    width: 100%;
    min-height: 79%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logoLinkedIn{
    width: 10rem;
    height: 3rem;
}
.logoGit{
    width: 6rem;
    height: 6rem;
}
img{
    margin-bottom: 10px;
}
.logoWhats{
    width: 5rem;
    height: 5rem;
}

.logoGmail{
    width: 5rem;
    height: 5rem;
}

.infos{
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ladoA{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 78vh;
}


.ladoB{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 78vh;
}