<div class="conteudo-contatos">
    <div class="infos l">
      <a href="https://www.linkedin.com/in/iancaplacimo/">
        <img src="./assets/img/LinkedIn.png" class="logoLinkedIn" alt="" />
      </a>
      <p>https://linkedin.com/in/iancaplacimo/</p>
    </div>
    <div class="infos l">
      <a href="https://w.app/IancaPlacimo">
        <img class="logoWhats" src="./assets/img/wp.png" alt="" />
      </a>
      <p>(11) 98539-0694</p>
    </div>
    <div class="infos r">
      <a href="mailto:iancaplacimo@gmail.com">
        <img class="logoGmail" src="./assets/img/gmail.svg" alt="" />
      </a>
      <p>iancaplacimo@gmail.com</p>
    </div>
    <div class="infos r">
      <a href="https://github.com/IancaPlacimo">
        <img class="logoGit" src="./assets/img/gith.png" alt="">
      </a>
      <p>https://github.com/IancaPlacimo</p>
    </div>
</div>
