<div class="conteudo-home">
  <section class="sectionImg">
    <img
      class="ImgIanca"
      src="./assets/img/iancabolinha2.png"
      alt="Imagem Ianca Placimo"
    />
  </section>
  <section class="sectionInfos">
    <h1 class="nome">Ianca Placimo</h1>
    <p class="funcao">
      Desenvolvedora <span class="changing-text"> {{ currentText }}</span>
    </p>
    <div class="div-buttons">
      <button (click)="download()" class="button-infos baixar">
        Baixar Curriculo
      </button>
      <button (click)="contatos()" class="button-infos contatoButton">
        Contato
      </button>
    </div>
  </section>
</div>
