<header class="header">
  <img class="ImgLogo" src="./assets/img/iplogo.png" alt="Logo Ianca Placimo" />
  <ul class="links">
    <li class="links__link">Sobre mim</li>
    <li class="links__link">Meus Projetos</li>
    <li class="links__link">Contatos</li>
  </ul>
</header>
<div class="conteudo-home">
  <section class="sectionImg">
    <img
      class="ImgIanca"
      src="./assets/img/iancabolinha2.png"
      alt="Imagem Ianca Placimo"
    />
  </section>
  <section class="sectionInfos">
    <h1 class="nome">Ianca Placimo</h1>
    <p class="funcao">Desenvolvedora Front-end</p>
    <div class="div-buttons">
      <button class="button-infos baixar">Baixar Curriculo</button>
      <button class="button-infos contatoButton">Contato</button>
    </div>
  </section>
</div>
